// Import page-specific CSS files here.
@import "home";

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica";
  background-color: #EED484;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  margin: 0;
  text-transform: capitalize;
  font-weight: bold;
}

th {
  padding: 10px !important;
}

.table {
  margin-bottom: 0px;
}

.dropdown-toggle {
  background-color: #fff;
}

.table>:not(caption)>*>* {
  border-color: #EED484;
  vertical-align: middle;
  white-space: nowrap;
}

.table>:not(:first-child) {
  border-top: #EED484;
}

.table>thead {
  background-color: #EED484;
  color: #fff;
}

.row {
  align-items: center;
}

.form-control {
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #EED484;
}

.form-check-input:checked {
  background-color: #EED484;
  border-color: #EED484;
}

.form-check-input:focus {
  box-shadow: none;
}

.form-control:hover {
  border-color: #EED484;
}

.bg-custom {
  border: 1px solid #EED484;
}

.btn-custom {
  border-color: #EED484;
  color: #EED484;
}

.btn-custom:hover {
  background-color: #EED484;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.row.m-0 {
  border-bottom: 1px solid #EED484;
  margin-bottom: 15px !important;
  background: #EED484;
  font-weight: 600;
  color: #fff;
}

.row.mb-2 {
  margin: 0;
}

.col-lg-4 p {
  font-size: 12px;
}


@media(max-width: 992px) {
  form {
    width: 80%;
  }
}

@media(max-width: 575px) {
  form {
    width: 100%;
  }
}
